<h1>List Users</h1>
<%= link_to "Create user",new_user_path %>
<div align="center">
	<%= will_paginate %>
</div>
<h1 align="center">Listing all Users</h1>
<% @users.each do |user| %>
<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="well well-lg">
			<div class="user-title">
				<%= link_to user.username, users_path(user) %>
			</div>
			<div class="user-body">
				<%= user.email %>
				<%= truncate(user.address, length: 15) %>
				<%= user.created_at%>
			</div>
			<div class="user-actions">
				<%= link_to "Edit this user", edit_user_path(user), class: "btn btn-xs btn-primary" %>
				<% if logged_in? && current_user.admin == true then %>
				<%= link_to "Delete this user", user_path(user), method: :delete,
				data: { confirm: "Are you sure you want to delete the user?"},
				class: "btn btn-xs btn-danger" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
<li><small><%= pluralize(user.products.count, "product") if user.products %></small></li>
<% end %>
<div align="center">
	<%= will_paginate %>
</div>